:root {
  --nav-item-padding: 1rem;
}

.header {
  position: absolute;
  /* stretch */
  left: 0;
  right: 0;
  color: var(--colorSecondary);
  z-index: 10;
}

.logo {
  margin: auto;
  margin-left: 30px;
}

.wallpaper {
  display: flex;
  /*align-items: stretch;*/
  width: 100%;
  height: 300px;
  border-bottom: 5px solid var(--colorRed);
  margin-top: 120px;
}

.nav {
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  align-self: bottom;
  /*max-width: calc(var(--maxWidth) + (var(--nav-item-padding) * 2));*/
  margin: 0 auto;
  padding: 0;
  line-height: 3rem;
  background-color: var(--colorPrimary);
  width: 100%;
  height: 120px;
  border-top: 5px solid var(--colorGold);
  border-bottom: 3px solid var(--colorSecondary)
}

.navPart1,
.navPart2 {
  margin-right: 30px;
  display: flex;
  flex-direction: row;
}

.link {
  display: flex;
  align-items: center;
  padding: 0 var(--nav-item-padding);
  margin: 0;
  color: inherit;
  text-decoration: none !important;
  opacity: 0.8;
  transition: 0.4s all;

  &:hover {
    opacity: 1;
    font-weight: 900;
  }

  &:focus {
    color: var(--colorRed);
    /*opacity: 1;*/
  }
}
